/* Style sheet for Oracle OLAPI Java API Referece doc files */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body { background-color: #FFFFFF }

/* Headings */
H1 { font-family: Helvetica, sans-serif; font-size: x-large; }
H2 { font-family: Helvetica, sans-serif; font-size: large; }
H3 { font-family: Helvetica, sans-serif;}
